// Breadcrumbs
#breadcrumbs {
  text-align: center;
  font-size: 16px;
  font-weight: 300;

  a {
    text-decoration: none;
  }

  .breadcrumb_last {
    background: $color-green-light;
    color: white;
    padding: 5px;
  }
}
