body {
  font-family: $font-serif;
}

h1 {
  font-weight: 700;
  font-size: 45px;

  @media #{$small-and-down} {
    font-size: 40px;
  }
}

h2 {
  font-weight: 800;
  font-size: 40px;

  @media #{$small-and-down} {
    font-size: 35px;
  }
}

h3 {
  font-weight: 500;
  font-size: 35px;

  @media #{$small-and-down} {
    font-size: 30px;
  }
}

p {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;

  &.larger {
    font-weight: 300;
    font-size: 25px;

    @media #{$small-and-down} {
      font-size: 22px;
    }
  }
}

a {
  color: $color-green-light;
  transition: all .3s;

  &:hover {
    background: $color-green-light;
    color: white;
    text-decoration: none;
  }
}
