// Main Header Navigation
.main-navigation {
  width: 100%;

  // Default nav state
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;

    li {
      position: relative;
      list-style-type: none;
      transition: background-color .3s;
      padding: 0;
      line-height: 75px;
      overflow: hidden;

      a {
        line-height: inherit;
        display: inline-block;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        text-transform: lowercase;
      }

      &:hover {
        >a {
          background: $color-green-light;
        }
      }
    }
  }

  // Dropdown menus
  .sub-menu {
    height: auto;
    position: absolute;
    background: $color-green;
    padding: 0;
    min-width: 200px;
    left: 0;
    z-index: 20;

    li {
      a {
        width: 100%;
      }
    }
  }

  // Menu items with dropdowns
  .menu-item-has-children:hover {
    overflow: visible;
  }
}

// Mobile Menu
.mobile {
  display: none;
}
