// Navigation Container
.main-navigation {
	clear: both;
	display: block;
	width: 100%;

  // Primary Nav
	ul {
    display: flex;
		list-style: none;
    justify-content: space-around;
		margin: 0;
		padding: 0;

    .menu-item-has-children {
      >a {
        cursor: default;
      }
    }

    li {
      float: left;
      position: relative;
      transition: background-color .3s;
      padding: 0;
      line-height: 50px;

      &:hover, &.focus {
        >a {
          background: $color-green-light;
        }

        >ul {
          left: auto;
        }
      }

      a {
        display: block;
        text-decoration: none;
        line-height: inherit;
        display: inline-block;
        padding: 0 20px;
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;

        @media #{$large-and-down} {
          font-size: 14px;
          padding: 0 10px;
        }
      }
    }

    // Sub Nav
		ul {
      background: darken($color-green, 10%);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
      flex-direction: column;

      li {
        a {
          text-transform: none;
          min-width: 350px;
        }
      }
		}
	}
}

// Mobile Menu
.mobile {
  display: none;
  position: absolute;
  top: 0;
  left: 0;

  .menu-toggle {
    display: none;
    position: absolute;
    top: 2em;
    right: 2em;
    z-index: 30;
    text-transform: uppercase;
  }

  ul {
    background: $color-green;
    padding-top: 55px;
    position: relative;
    z-index: 20;
    text-align: center;

    li {
      float: none;

      a {
        width: 100%;
        padding: 0;
      }

      ul {
        padding-top: 0;
        width: 100%;
      }
    }
  }
}

.mobile.toggled ul {
	display: block;
}


// Media Queries for Nav
@media #{$medium-and-down} {
  .main-navigation {
    ul {
      display: none;
    }

    .menu-toggle {
      display: block;
    }
  }

  .toggled .nav-menu {
    display: block;
  }

  .mobile {
    display: block;
  }
}
