.home {
  // Top Hero
  .hero {
    height: 400px;
    position: relative;

    &-buttons {
      position: absolute;
      bottom: 0;
      width: 100%;
      text-align: center;

      .btn-home {
        display: inline-block;
        text-decoration: none;
        background: $color-orange;
        border: 0;
        color: white;
        padding: 30px;
        margin: 0 2em;
        width: 15%;
        cursor: pointer;

        &:hover {
          background: darken($color-orange, 20%);
        }

        @media #{$small-and-down} {
          display: block;
          margin: 0;
          width: 80%;
          margin: 10px auto;
        }
      }
    }
  }

  // Callout Section
  .callout {
    background-size: cover;
    padding: 5em 3em;
    margin-top: 2em;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-between;

    img {
      object-fit: contain;

      @media #{$small-and-down} {
        display: none;
      }
    }
  }

  // Foodchamps Infobox
  .foodchamps {
    margin-top: 2em;
    display: flex;
    align-items: center;

    @media #{$small-and-down} {
      display: block;
      margin: 1em;
    }

    div, img {
      width: 50%;

      @media #{$small-and-down} {
        width: 100%;
      }
    }

    img {
      object-fit: cover;
      margin: 1em 0;
      height: 350px;
    }

    .larger, h2 {
      margin: 0;
    }

    img {
      object-fit: cover;
      margin-left: 2em;
      height: 350px;
    }
  }
}
