.site-main {
  max-width: 1200px;
  margin: 3em auto;
}

.entry-header {
  height: 300px;
  background-position: center !important;
  background-size: cover !important;
}

.entry-header-text {
  background: $color-orange;
  color: white;

  .page-info {
    display: flex;
    padding: 0;

    section {
      flex: 1;
      margin: 2em;

      &:nth-of-type(1) {
        flex-basis: 60%;
      }

      &:nth-of-type(2) {
        flex-grow: 2;

        img {
          max-height: 250px;
          margin: 0 auto;
          display: block;
        }
      }
    }
  }
}

.entry-info-text {
  margin-top: 2em;
  background: $color-yellow;

  .box {
    padding: 2em;
    display: flex;
    align-items: center;

    div, img {
      width: 60%;
    }

    .larger, h2 {
      margin: 0;
    }

    img {
      object-fit: contain;
      margin-right: 2em;
      max-height: 250px;
    }
  }
}

.entry-content {
  p {
    padding: 10px 1em;
  }
}
