// Internal Pages Container
.site-main {
  max-width: 1200px;
  margin: 3em auto;
}

// Yellow info box
.entry-infobox {
  margin-top: 2em;
  background: $color-yellow;
  padding: 1em;
  display: flex;

  @media #{$small-and-down} {
    display: block;
  }

  .infobox-image {
    padding: 1em;
    flex: 1 1 0;

    @media #{$small-and-down} {
      height: 200px;
      padding: 0;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .infobox-text {
    padding: 1em;
    flex: 1 1 0;

    @media #{$small-and-down} {
      padding: 0;
    }
  }
}

// Main content
.entry-content {
  p {
    padding: 10px 1em;
  }
}
