// Internal Pages Container
.site-main {
  max-width: 1200px;
  margin: 3em auto;
}

// Icon list on main pages
.icon-list-row {
  margin: 2em 0;
  display: flex;
  align-items: center;

  .icon-img {
    flex: 1 1 0;
    text-align: center;

    img {
      width: 120px;
    }
  }

  .icon-cnt {
    flex: 2 1 0;
  }
}

// Main content
.entry-content {
  p {
    padding: 0 1em;
  }
}

// Wrap images in WYSIWIG
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }
